{{page-title "Cart"}}
{{outlet}}
<div class="row">

    <h2>Your Cart!</h2>
    {{#each @model as |entry|}}

    {{#if entry.relatedProduct}}
    <br>
    <div class="card w-25 p-3">
        <br>
        <img class="card-img-top img-fluid" src={{entry.relatedProduct.imglink}} alt="product image">
        <br>
        <h5 class="card-text">{{entry.relatedProduct.productTitle}}</h5>
        <p class="card-text d-inline-block productdesc">{{entry.relatedProduct.desc}}</p>
        <h5 class="card-text">$ {{entry.relatedProduct.price}}</h5>
        <h5 class="card-text">quantidade: {{entry.cartItem.qnt}}</h5>
        <br>
        <br>
    </div>
    {{/if}}
    {{/each}}

</div>