<div class="row pdetails">
    <div class="col-md-5 col-sm-12">
        <img class="imgpd img-fluid" src={{@source}} alt="product img">
    </div>
    <div class="col-md-1 col-sm-0" style="margin-top: 2vh;"></div>
    <div class="col-md-6 col-sm-12">
        <div class="row">
            <h2>{{@title}}</h2>
        </div>
        <h6 class="descpd">{{@desc}}</h6>
        <h5 class="pricepd">$ {{@price}}</h5>

        <div>
            <input type="hidden" name="titleProduct" {{on 'change' (fn this.setInput 'titleProduct')}} value="{{@this.args.model.titleProduct}}">
            <input type="hidden" name="id" {{on 'change' (fn this.setInput 'id')}} value="{{@this.args.model.id}}">
            <input type="number" name="qnt" {{on 'change' (fn this.setInput 'qnt')}} value="{{@this.model.qnt}}">
            <button class="btn btn-success btnpd" {{on 'click' this.addProduct}} type="button">Add to Cart</button>
        </div>

    </div>
</div>