{{page-title "Add"}}
<div class="add">
    <form action="/admin/add" method="post">
        <div class="form-group">
            <label for="title">Title</label><br>
            <input type="text" id="title" class="form-control" {{on 'change' (fn this.setInput 'productTitle')}} value={{this.model.productTitle}} placeholder = "Add Title..."/>
        </div>
        <br>
        <div class="form-group">
            <label for="description">Description</label><br>
            <input type="text" id="description" class="form-control" {{on 'change' (fn this.setInput 'desc')}} value={{this.model.desc}} placeholder = "Add Desc..."/>
        </div>
        <br>
        <div class="form-group">
            <label for="price">Price</label><br>
            <input type="number" id="price" class="form-control" min = "1" step="any" {{on 'change' (fn this.setInput 'price')}} value={{this.model.price}} placeholder = "Add Price..."/>
        </div>
        <br>
        <div class="form-group">
            <label for="category">Category</label>
            <select class="form-select" aria-label="Default select example" id="category">
                <option selected value="">Select a category</option>
                <option value="2">Men</option>
                <option value="3">Women</option>
                <option value="5">Kids</option>
                <option value="4">Home Accessories</option>
            </select>
        </div>
        <br>
        <div class="form-group">
            <label for="imagelink">Image Link</label><br>
            <input type="text" id="imagelink" class="form-control" {{on 'change' (fn this.setInput 'imglink')}} value={{this.model.imglink}} placeholder = "Add Image Link..."/>
        </div>
        <br>
        </form>
         <button class="btn btn-success" type="submit" {{on 'click' this.addProduct}}>Submit</button> 
        <LinkTo class='btn btn-primary' @route="admin" >Close</LinkTo>

</div>