{{!-- app/templates/admin/edit.hbs --}}
{{page-title "Edit"}}
<div class="edit">
    <h3>Edit Product</h3>

    <form action="/edit" method="post"> 
        <div class="form-group">
            <label for="title">Title</label><br>
            <input type="text" id="title" class="form-control" value={{@this.model.productTitle}} placeholder = "Add Title..."/>
        </div>
        <br>
        <div class="form-group">
            <label for="description">Description</label><br>
            <input type="text" id="description" class="form-control" value={{@this.model.desc}} placeholder = "Add Desc..."/>
        </div>
        <br>
        <div class="form-group">
            <label for="price">Price</label><br>
            <input type="number" id="price" class="form-control" min = "1" step="any" value={{@this.model.price}} placeholder = "Add Price..."/>
        </div>
        <br>
        <div class="form-group">
            <label for="category">Category</label>
            <select class="form-select" aria-label="Default select example" id="category">
                <option selected value={{@model.category}}>Change the category</option>
                <option value="men">Men</option>
                <option value="women">Women</option>
                <option value="kids">Kids</option>
                <option value="homeaccessories">Home Accessories</option>
            </select>
        </div>
        <br>
        <div class="form-group">
            <label for="imagelink">Image Link</label><br>
            <input type="text" id="imagelink" class="form-control" value={{@this.model.imglink}} placeholder = "Add Image Link..."/>
        </div>
        <br>
    </form>

    <button class="btn btn-success" type="submit" {{on 'click' this.editProduct}}>Done</button>
    <button class='btn btn-danger' type="button" {{on 'click' this.deleteProduct}}>Delete</button>

</div>