{{!-- app/templates/admin/edit.hbs --}}
{{page-title "Edit"}}
<div class="edit">
    <h3>Edit Product</h3>

    <div> 
        <div class="form-group">
            <label for="title">Title</label><br>
        <input type="text" id="title" class="form-control" {{on 'change' (fn this.setInput 'productTitle')}} value={{@this.model.productTitle}} placeholder = "Add Title..."/>
        </div>
        <br>
        <div class="form-group">
            <label for="description">Description</label><br>
            <input type="text" id="description" class="form-control" {{on 'change' (fn this.setInput 'desc')}} value={{@this.model.desc}} placeholder = "Add Desc..."/>
        </div>
        <br>
        <div class="form-group">
            <label for="price">Price</label><br>
            <input type="number" id="price" class="form-control"  min = "1" step="any" {{on 'change' (fn this.setInput 'price')}} value={{@this.model.price}} placeholder = "Add Price..."/>
        </div>
        <br>
        <div class="form-group">
            <label for="category">Category</label>
            <select class="form-select" aria-label="Default select example" id="category">
                <option selected {{on 'change' (fn this.setInput 'category_id')}} value={{@this.model.category_id}}>Change the category</option>
                <option value="2">Men</option>
                <option value="3">Women</option>
                <option value="5">Kids</option>
                <option value="4">Home Accessories</option>
            </select>
        </div>
        <br>
        <div class="form-group">
            <label for="imagelink">Image Link</label><br>
            <input type="text" id="imagelink" class="form-control" {{on 'change' (fn this.setInput 'imagelink')}} value={{@this.model.imglink}} placeholder = "Add Image Link..."/>
        </div>
        <br>
    </div>

    <button class="btn btn-success" type="submit" {{on 'click' this.editProduct}}>Done</button>
    <button class='btn btn-danger' type="button" {{on 'click' this.deleteProduct}}>Delete</button>
   
</div>